<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta http-equiv="refresh" content="0; url={{destination}}">

    <title>Venture Advancement - Redirect to {{label}}</title>
  </head>
  <body>
    <div id="heading">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Venturing.svg/1200px-Venturing.svg.png" style="width:128px;height:128px;">
        <h1>Venture Advancement</h1>
        <h2>Redirect to {{label}}</h2>
    </div>
    <div id="bodi">
        <a href="{{destination}}">Click here if auto-redirect fails</a>
    </div>
  </body>
</html>
